 h2 {
	font-family: 'Rozha One', serif;
	letter-spacing: 1px;
}
h1 {
	font-family: 'Playfair Display', serif; 
	font-size:60px;
	letter-spacing: 1px;
}
h3 {
	font-family: 'Libre Baskerville', serif; 
	font-weight: 700;
}
p {
	font-family: 'Poppins', sans-serif; 
	line-height: 1.6;
}
h3 {
	font-size: 22px;
	color: #c2185b;
}
p {
	font-size: 17px;
	color: #333;
}

.contenido {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: justify;
}

body {

font-family: rozha one, sans-serif;

Background-color: #e5dcd3;
margin: 0;
padding: 20px;

} 

.titulo {

       text-align: center;

color: #000;
} 
.auto{

background: #fff4f4;

margin: 20px auto;

padding: 15px;

border-radius: 10px;

max-width: 900px;

box-shadow: 0 4px 10px 
rgba(1,1,1,0.1);
 }

.auto h2 {
color: Black;

background: #f4d1d8;


padding: 10px;

border-radius: 5px;
} 

.contenido {

display: flex;

justify-content: space-between;

align-items: center;

}

.contenido ul {


list-style: none;

padding: 2;
} 
.contenido li {


margin: 6px 2;
} 

.contenido img {

width: 300px; 
border-radius: 10px;
}
.boton-contenedor{
    text-align:center;
    margin:20px 0;
}

.boton-contenedor{
    text-align:center;
    margin:20px 0;
}

.boton{
    display:inline-block;
    background:#FFB6C1; /* Light Pink */
    color:#8B005D;
    padding:12px 25px;
    text-decoration:none;
    border-radius:30px;
    font-family:'Poppins', sans-serif;
    font-weight:bold;
    transition:0.3s;
    box-shadow:0 4px 10px rgba(255,182,193,0.5);
}

.boton:hover{
    background:#FFC0CB; /* Rosa pastel */
    transform:translateY(-3px);
}